<!DOCTYPE html>
<html lang="en" > 
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="../assets/img/HIVETechwear.svg" type="image/x-icon">
    <link rel="stylesheet" href="../css/style.css">
    <title>Home | Hive Tech Wear</title>
    <nav class="navbar navbar-light bg-light justify-content-between">
        <a class="navbar-brand">HIVE Techwer</a>
        <form class="form-inline">
          <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Sign in</button>
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Sign up</button>
        </form>
      </nav>
  </head>
  <body>
    <div class="image">
        <div class="img">
    
            <img src="../assets/img/Banner.png" alt="">
    
            
        </div>
        <div class="header-content">
            Clothing Divine getting <br />
            Everyone's Favourite <br />
            This Season's most loved Styles
        </div>
        <div class="footer-content">
            <h3>Get Up To 50% off</h3> <br />
            <h3>On all products and brands</h3><br />
            <h5>Shop Women's   Shop Men's</h5>
        </div>
        <div class="categories">
            <h1>Categories</h1>
        </div>
    <div class="categories-image">
    <img src="../assets/img/category001.png">
    <img src="../assets/img/category002.png">
    <img src="../assets/img/cart003.png">
    <img src="../assets/img/cart004.png">

        </div>
        <div class="offer-text">
            <h1>Offer</h1>
        </div>
    <div class="offer-image">
        
    <img src="../assets/img/offer001.png">
    <img src="../assets/img/offer001.png">
    <img src="../assets/img/offer003.png">
    <img src="../assets/img/offer004.png">
    </div>
    <div class="footer">
         <h3>Shop and Lear Support</h3> <br />
         <h6>Sign up</h6> <br />
         <h6>Sign in </h6><br />
        <h6>>Item lists</h6>
  </div> 

  </body>
  <script src="../js/script.js"></script>

</html>